{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add new category!</legend>
                <div class="dropdown">
                  <button style="text-align: left;" class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Existing Categories
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      {% for category in categories %}
                          <a class="dropdown-item" href="#">{{ category }}</a>
                      {% endfor %}
                  </div>
                </div>
                {{ form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary btn-md" type="submit">Add</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already added? <a class="ml-2" href="{% url 'store:home' %}">Products</a>
            </small>
        </div>
    </div>
{% endblock %}